# Posgresql + Mongo para ETL
ETL_DATABASE_URL=
ETL_MONGO_URL=

# Posgresql + Mongo para streamlit
STREAMLIT_DATABASE_URL=
STREAMLIT_MONGO_URL=

# Para almacenamiento de backups

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=proyecto-de-datos-utec-eb
AWS_DEFAULT_REGION=us-east-1

# Para separacion de entorno local vs utec (Faltan detalles)

ETL_DATABASE_SERVER_URL=
ETL_MONGO_SERVER_URL=
ENTORNO="utec"