ETL_DATABASE_URL=
ETL_MONGO_URL=

STREAMLIT_DATABASE_URL=
STREAMLIT_MONGO_URL=

ETL_DATABASE_SERVER_URL=
ETL_MONGO_SERVER_URL=

ENTORNO="utec"
S3_BUCKET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=